dbconnect.php
/xml/
infoprinter.php
.idea/encodings.xml
.idea/codeStyles/codeStyleConfig.xml
developer-functions.php
oldcode/strongs-greek-spellings.dic
oldcode/strongs-hebrew-spellings.dic
oldcode/greekStrongs.csv
number-system-identifier.php
/hexaPerf.txt
/hexaErrorLog.txt
/oldcode/
/styles/mainstyle.css
/style/*.map
.idea/*
.idea/Hexapla.iml
.idea/watcherTasks.xml
