/* -------------------- */
/* ----- MAIN TAGS ---- */
/* -------------------- */
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #976d43;
    min-height: 100%;
    font-family: 'Droid Serif', serif;
}

#wrap {
    position: relative;
    width: 1200px;
    min-height: 95%;
    border: none;
    padding: 40px 10px 10px 10px;
    margin: auto;
    background-color: antiquewhite;
    opacity: 0.95;
    overflow: auto;
}

#pagewrap {
    margin: auto;
    width: 75%;
    clear:both;
}

div.page {
    width: 75%;
    margin: auto;
}

.page h3 {
    font-size: 1.5em;
    margin: 10px auto 5px auto;
    width: 60%;
}

#innerwrap {
    position: relative;
    margin: auto;
}

/* -------------------- */
/* ---- HEADER TAGS --- */
/* -------------------- */
h3 {
    margin: 0;
    font-size: 1.5em;
}
h4 {
    margin: 5px 0 0 0;
}

/* -------------------- */
/* --- BASIC CLASSES -- */
/* -------------------- */
.hidden {
    display: none;
}

/* -------------------- */
/* --- MENU CLASSES --- */
/* -------------------- */
.active .sidebar, .active .menu-tab {
    transform: translate3d(-300px, 0, 0);
}

.menu-tab.activator {
    border-right-color: darkgray;
}

.tab-button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 11px;
    top: 10px;
    z-index: 99;
    margin: auto;
}

#menu-button {
    background-image: url("../images/menubutton.svg");
}

#dict-button {
    background-image: url("../images/dictbutton.svg");
}

#ref-button {
    background-image: url("../images/crossref.svg");
}

.menu-tab {
    position: fixed;
    z-index: 98;
    right: -1px;
    width: 41px;
    height: 40px;
    transition: transform 1s;
    background-color: darkgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
}

#menu-btn-wrap {
    top: 8px;
}

#dict-btn-wrap {
    top: 54px;
}

#crossref-btn-wrap {
    top: 100px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 96;
    transition: transform 1s;
    width: 300px;
    background-color: darkgray;
    color: ghostwhite;
    border-left: 1px solid #333;
    padding-top: 1em;
}

.sidebar.activated {
    z-index: 97;
}

#menu ul {
    list-style-type: none;
    width: 280px;
    right: 0;
    padding: 0;
    position: absolute;
    margin-top: 0;
}

#menu ul li {
    width: 100%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    transition: background 0.25s ease-in;
    background-color: darkgray;
    right: 0;
}

#menu ul li:hover {
    background-color: dimgray;
}

.sidebar a {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-decoration: none;
    color: ghostwhite;
}

#menu ul li input, #menu ul li label {
    vertical-align: middle;
    position: relative;
}

.sidebar a:active, .sidebar a:hover, .sidebar a:visited {
    color: ghostwhite;
    text-decoration: none;
}

#dictionary, #crossref {
    margin-bottom: 50px;
    padding-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menubottom {
    top: unset;
    bottom: 20px;
    height: 30px;
    text-align: center;
    z-index: 98;
}

/* -------------------- */
/* -- HEADER CLASSES -- */
/* -------------------- */
#pageTitle {
    float:left;
}

.search {
    /*float: right;*/
    /*right: 132px;*/
    /*top: 5px;*/
    /*position: absolute;*/
    /*width: 150px;*/
    height: 30px;
    padding-right: 5px;
    border-right: 1px solid black;
    margin-top: 0;
    overflow:hidden;
    padding-left: 10px;
}

.page .search {
    border-right: none;
    padding-top: 10px;
}

#searchbox {
    width: 100%;
    height: 100%;
    padding: 2px;
}

#searchbox::placeholder {
    color: lightgray;
}

#headerSpace {
    position:relative;
    margin-top: -30px;
    margin-bottom: 5px;
    width: 100%;
}

/* -------------------- */
/* -- TRANSL. CLASSES - */
/* -------------------- */
#addtl, .del, .promote, #prevPsg, #nextPsg {
    /*position: absolute;*/
    /*top: 5px;*/
    cursor: pointer;
    background-origin: content-box;
    float: right;
}

#addtl, #prevPsg, #nextPsg {
    margin-top: 0;
}

#addtl {
    /*right: 85px;*/
    background-image: url("../images/grey_plus_icon.png");
    background-repeat: no-repeat;
    padding-right: 5px;
    border-right: 1px solid black;
    padding-left: 5px;
    width: 30px;
    height: 30px;
}

#prevPsg {
    /*right: 45px;*/
    background-image: url("../images/grey_left_icon.png"); /* change to correct icon */
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

#nextPsg {
    /*right: 15px;*/
    background-image: url("../images/grey_right_icon.png"); /* change to correct icon */
    width: 30px;
    height: 30px;
}

div.del {
    right: 10px;
    background-image: url("../images/grey_minus_icon.png");
    width: 30px;
    height: 30px;
}

div.promote {
    right: 43px;
    background-image: url("../images/grey_up_icon.png");
    width: 30px;
    height: 30px;
}

div.del span::before {
    content: "Remove this translation";
}

div.promote span::before {
    content: "Make this the primary translation";
}

#addtl span::before {
    content: "Add another translation";
}

#prevPsg span::before {
    content: "Last passage";
}

#nextPsg span::before {
    content: "Next passage";
}

div.del span, div.promote span, #addtl span, #prevPsg span, #nextPsg span {
    display: none;
    position: relative;
    top: 31px;
    left: -80px;
    right: 0;
    border: 1px solid goldenrod;
    background-color: lightgoldenrodyellow;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 1px 2px 1px 2px;
    z-index: 1;
    width: 100px;
}

div.del:hover span, div.promote:hover span, #addtl:hover span, #prevPsg:hover span, #nextPsg:hover span {
    display: block;
	transform-origin: 100% 0;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.modal {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: khaki;
    border: 1px solid darkkhaki;
    border-radius: 3px;
    width: 240px;
    margin: 10% auto;
    padding: 10px 20px 30px 20px;
}

.modal-content select {
    width: 80%;
    margin-left: 20px;
}

.modal-content input {
    float: right;
    font-weight: bold;
    clear: none;
    margin-top: 5px;
    margin-right: 5px;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

/* -------------------- */
/* ---- BOX CLASSES --- */
/* -------------------- */
.box {
    position: relative;
    border-collapse: collapse;
    overflow: hidden;
    padding-bottom: 25px;
}

.noTextBox {
    position: relative;
    margin: 10px auto;
    padding: 5px;
    border: 3px ridge darkred;
    clear: both;
    background-color:coral;
}

.scrollbox {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
}

.scrollbox h4 {
    float:left;
}

.scrollbox p {
    clear: both;
}

.of1 {
    width: 1194px; /* 988 */
    height: calc(90% - 1.5em);
    border: 1px solid black;
}
.of2 {
    width: 597px; /* 488 */
    height: calc(90% - 1.5em);
    float: left;
    clear: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.of2#second {
    border-right: 1px solid black;
}
.of3 {
    width: 398px; /* 322 */
    height: calc(90% - 1.5em);
    float: left;
    clear: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.of3#third {
    border-right: 1px solid black;
}
.of4 {
    width: 597px; /* 488 */
    height: calc((90% - 1.5em) / 2);
    float: left;
    clear: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.of4#second, .of4#fourth {
    border-right: 1px solid black;
}
.of4#third, .of4#fourth {
    border-bottom: 1px solid black;
}
.of4#third {
    clear: both;
}
.of5 {
    width: 398px; /* 322 */
    height: calc((90% - 1.5em) / 2);
    float: left;
    clear: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.of5#second {
    padding-right: 1px;
}
.of5#second, .of5#fifth {
    border-right: 1px solid black;
}
.of5#third, .of5#fourth, .of5#fifth {
    border-bottom: 1px solid black;
}
.of5#third {
    clear: both;
}
.of5#first, .of5#second {
    width: 597px; /* 488 */
    float: left;
    clear: none;
}
.of6 {
    width: 398px; /* 322 */
    height: calc((90% - 1.5em) / 2);
    float: left;
    clear: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.of6#third, .of6#sixth {
    border-right: 1px solid black;
}
.of6#fourth, .of6#fifth, .of6#sixth {
    border-bottom: 1px solid black;
}
.of6#fourth {
    clear: both;
}

/* -------------------- */
/* --- DIFF CLASSES --- */
/* -------------------- */
.diff {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 5px;
    height: 15px;
    background: azure;
    font-style: italic;
    font-size: 0.8em;
}

.diff input, .diff label {
    margin: auto 2px;
}

.diff2L, .diff2R {
    background-color: lawngreen;
}
.diff3L, .diff3R {
    background-color: lightskyblue;
}
.diff4L, .diff4R {
    background-color: orange;
}
.diff5L, .diff5R {
    background-color: pink;
}
.diff6L, .diff6R {
    background-color: yellow;
}

.diff2L .diff3L, .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue);
}
.diff2L .diff4L, .diff4L .diff2L {
    background: linear-gradient(lawngreen, orange);
}
.diff2L .diff5L, .diff5L .diff2L {
    background: linear-gradient(lawngreen, pink);
}
.diff2L .diff6L, .diff6L .diff2L {
    background: linear-gradient(lawngreen, yellow);
}
.diff3L .diff4L, .diff4L .diff3L {
    background: linear-gradient(lightskyblue, orange);
}
.diff3L .diff5L, .diff5L .diff3L {
    background: linear-gradient(lightskyblue, pink);
}
.diff3L .diff6L, .diff6L .diff3L {
    background: linear-gradient(lightskyblue, yellow);
}
.diff4L .diff5L, .diff4L .diff5L {
    background: linear-gradient(orange, pink);
}
.diff4L .diff6L, .diff6L .diff4L {
    background: linear-gradient(orange, yellow);
}
.diff5L .diff6L, .diff6L .diff5L {
    background: linear-gradient(pink, yellow);
}
.diff2L .diff3L .diff4L, .diff2L .diff4L .diff3L, .diff3L .diff2L .diff4L, .diff3L .diff4L .diff2L, .diff4L .diff2L .diff3L, .diff4L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, orange);
}
.diff2L .diff3L .diff5L, .diff2L .diff5L .diff3L, .diff3L .diff2L .diff5L, .diff3L .diff5L .diff2L, .diff5L .diff2L .diff3L, .diff5L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, pink);
}
.diff2L .diff3L .diff6L, .diff2L .diff6L .diff3L, .diff3L .diff2L .diff6L, .diff3L .diff6L .diff2L, .diff6L .diff2L .diff3L, .diff6L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, yellow);
}
.diff2L .diff4L .diff5L, .diff2L .diff5L .diff4L, .diff4L .diff2L .diff5L, .diff4L .diff5L .diff2L, .diff5L .diff2L .diff4L, .diff5L .diff4L .diff2L {
    background: linear-gradient(lawngreen, orange, pink);
}
.diff2L .diff4L .diff6L, .diff2L .diff6L .diff4L, .diff4L .diff2L .diff6L, .diff4L .diff6L .diff2L, .diff6L .diff2L .diff4L, .diff6L .diff4L .diff2L {
    background: linear-gradient(lawngreen, orange, yellow);
}
.diff2L .diff5L .diff6L, .diff2L .diff6L .diff5L, .diff5L .diff2L .diff6L, .diff5L .diff6L .diff2L, .diff6L .diff2L .diff5L, .diff6L .diff5L .diff2L {
    background: linear-gradient(lawngreen, pink, yellow);
}
.diff3L .diff4L .diff5L, .diff3L .diff5L .diff4L, .diff4L .diff3L .diff5L, .diff4L .diff5L .diff3L, .diff5L .diff3L .diff4L, .diff5L .diff4L .diff3L {
    background: linear-gradient(lightskyblue, orange, pink);
}
.diff3L .diff4L .diff6L, .diff3L .diff6L .diff4L, .diff4L .diff3L .diff6L, .diff4L .diff6L .diff3L, .diff6L .diff3L .diff4L, .diff6L .diff4L .diff3L {
    background: linear-gradient(lightskyblue, orange, yellow);
}
.diff3L .diff5L .diff6L, .diff3L .diff6L .diff5L, .diff5L .diff3L .diff6L, .diff5L .diff6L .diff3L, .diff6L .diff3L .diff5L, .diff6L .diff5L .diff3L {
    background: linear-gradient(lightskyblue, pink, yellow);
}
.diff4L .diff5L .diff6L, .diff4L .diff6L .diff5L, .diff5L .diff4L .diff6L, .diff5L .diff6L .diff4L, .diff6L .diff4L .diff5L, .diff6L .diff5L .diff4L {
    background: linear-gradient(orange, pink, yellow);
}
.diff2L .diff3L .diff4L .diff5L, .diff2L .diff3L .diff5L .diff4L, .diff2L .diff4L .diff3L .diff5L, .diff2L .diff4L .diff5L .diff3L, .diff2L .diff5L .diff3L .diff4L, .diff2L .diff5L .diff4L .diff3L, .diff3L .diff2L .diff4L .diff5L, .diff3L .diff2L .diff5L .diff4L, .diff3L .diff4L .diff2L .diff5L, .diff3L .diff4L .diff5L .diff2L, .diff3L .diff5L .diff2L .diff4L, .diff3L .diff5L .diff4L .diff2L, .diff4L .diff2L .diff3L .diff5L, .diff4L .diff2L .diff5L .diff3L, .diff4L .diff3L .diff2L .diff5L, .diff4L .diff3L .diff5L .diff2L, .diff4L .diff5L .diff2L .diff3L, .diff4L .diff5L .diff3L .diff2L, .diff5L .diff2L .diff3L .diff4L, .diff5L .diff2L .diff4L .diff3L, .diff5L .diff3L .diff2L .diff4L, .diff5L .diff3L .diff4L .diff2L, .diff5L .diff4L .diff2L .diff3L, .diff5L .diff4L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, orange, pink);
}
.diff2L .diff3L .diff4L .diff6L, .diff2L .diff3L .diff6L .diff4L, .diff2L .diff4L .diff3L .diff6L, .diff2L .diff4L .diff6L .diff3L, .diff2L .diff6L .diff3L .diff4L, .diff2L .diff6L .diff4L .diff3L, .diff3L .diff2L .diff4L .diff6L, .diff3L .diff2L .diff6L .diff4L, .diff3L .diff4L .diff2L .diff6L, .diff3L .diff4L .diff6L .diff2L, .diff3L .diff6L .diff2L .diff4L, .diff3L .diff6L .diff4L .diff2L, .diff4L .diff2L .diff3L .diff6L, .diff4L .diff2L .diff6L .diff3L, .diff4L .diff3L .diff2L .diff6L, .diff4L .diff3L .diff6L .diff2L, .diff4L .diff6L .diff2L .diff3L, .diff4L .diff6L .diff3L .diff2L, .diff6L .diff2L .diff3L .diff4L, .diff6L .diff2L .diff4L .diff3L, .diff6L .diff3L .diff2L .diff4L, .diff6L .diff3L .diff4L .diff2L, .diff6L .diff4L .diff2L .diff3L, .diff6L .diff4L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, orange, yellow);
}
.diff2L .diff4L .diff5L .diff6L, .diff2L .diff4L .diff6L .diff5L, .diff2L .diff5L .diff4L .diff6L, .diff2L .diff5L .diff6L .diff4L, .diff2L .diff6L .diff4L .diff5L, .diff2L .diff6L .diff5L .diff4L, .diff4L .diff2L .diff5L .diff6L, .diff4L .diff2L .diff6L .diff5L, .diff4L .diff5L .diff2L .diff6L, .diff4L .diff5L .diff6L .diff2L, .diff4L .diff6L .diff2L .diff5L, .diff4L .diff6L .diff5L .diff2L, .diff5L .diff2L .diff4L .diff6L, .diff5L .diff2L .diff6L .diff4L, .diff5L .diff4L .diff2L .diff6L, .diff5L .diff4L .diff6L .diff2L, .diff5L .diff6L .diff2L .diff4L, .diff5L .diff6L .diff4L .diff2L, .diff6L .diff2L .diff4L .diff5L, .diff6L .diff2L .diff5L .diff4L, .diff6L .diff4L .diff2L .diff5L, .diff6L .diff4L .diff5L .diff2L, .diff6L .diff5L .diff2L .diff4L, .diff6L .diff5L .diff4L .diff2L {
    background: linear-gradient(lawngreen, orange, pink, yellow);
}
.diff3L .diff4L .diff5L .diff6L, .diff3L .diff4L .diff6L .diff5L, .diff3L .diff5L .diff4L .diff6L, .diff3L .diff5L .diff6L .diff4L, .diff3L .diff6L .diff4L .diff5L, .diff3L .diff6L .diff5L .diff4L, .diff4L .diff3L .diff5L .diff6L, .diff4L .diff3L .diff6L .diff5L, .diff4L .diff5L .diff3L .diff6L, .diff4L .diff5L .diff6L .diff3L, .diff4L .diff6L .diff3L .diff5L, .diff4L .diff6L .diff5L .diff3L, .diff5L .diff3L .diff4L .diff6L, .diff5L .diff3L .diff6L .diff4L, .diff5L .diff4L .diff3L .diff6L, .diff5L .diff4L .diff6L .diff3L, .diff5L .diff6L .diff3L .diff4L, .diff5L .diff6L .diff4L .diff3L, .diff6L .diff3L .diff4L .diff5L, .diff6L .diff3L .diff5L .diff4L, .diff6L .diff4L .diff3L .diff5L, .diff6L .diff4L .diff5L .diff3L, .diff6L .diff5L .diff3L .diff4L, .diff6L .diff5L .diff4L .diff3L {
    background: linear-gradient(lightskyblue, orange, pink, yellow);
}
.diff2L .diff3L .diff4L .diff5L .diff6L, .diff2L .diff3L .diff4L .diff6L .diff5L, .diff2L .diff3L .diff5L .diff4L .diff6L, .diff2L .diff3L .diff5L .diff6L .diff4L, .diff2L .diff3L .diff6L .diff4L .diff5L, .diff2L .diff3L .diff6L .diff5L .diff4L, .diff2L .diff4L .diff3L .diff5L .diff6L, .diff2L .diff4L .diff3L .diff6L .diff5L, .diff2L .diff4L .diff5L .diff3L .diff6L, .diff2L .diff4L .diff5L .diff6L .diff3L, .diff2L .diff4L .diff6L .diff3L .diff5L, .diff2L .diff4L .diff6L .diff5L .diff3L, .diff2L .diff5L .diff3L .diff4L .diff6L, .diff2L .diff5L .diff3L .diff6L .diff4L, .diff2L .diff5L .diff4L .diff3L .diff6L, .diff2L .diff5L .diff4L .diff6L .diff3L, .diff2L .diff5L .diff6L .diff3L .diff4L, .diff2L .diff5L .diff6L .diff4L .diff3L, .diff2L .diff6L .diff3L .diff4L .diff5L, .diff2L .diff6L .diff3L .diff5L .diff4L, .diff2L .diff6L .diff4L .diff3L .diff5L, .diff2L .diff6L .diff4L .diff5L .diff3L, .diff2L .diff6L .diff5L .diff3L .diff4L, .diff2L .diff6L .diff5L .diff4L .diff3L, .diff3L .diff2L .diff4L .diff5L .diff6L, .diff3L .diff2L .diff4L .diff6L .diff5L, .diff3L .diff2L .diff5L .diff4L .diff6L, .diff3L .diff2L .diff5L .diff6L .diff4L, .diff3L .diff2L .diff6L .diff4L .diff5L, .diff3L .diff2L .diff6L .diff5L .diff4L, .diff3L .diff4L .diff2L .diff5L .diff6L, .diff3L .diff4L .diff2L .diff6L .diff5L, .diff3L .diff4L .diff5L .diff2L .diff6L, .diff3L .diff4L .diff5L .diff6L .diff2L, .diff3L .diff4L .diff6L .diff2L .diff5L, .diff3L .diff4L .diff6L .diff5L .diff2L, .diff3L .diff5L .diff2L .diff4L .diff6L, .diff3L .diff5L .diff2L .diff6L .diff4L, .diff3L .diff5L .diff4L .diff2L .diff6L, .diff3L .diff5L .diff4L .diff6L .diff2L, .diff3L .diff5L .diff6L .diff2L .diff4L, .diff3L .diff5L .diff6L .diff4L .diff2L, .diff3L .diff6L .diff2L .diff4L .diff5L, .diff3L .diff6L .diff2L .diff5L .diff4L, .diff3L .diff6L .diff4L .diff2L .diff5L, .diff3L .diff6L .diff4L .diff5L .diff2L, .diff3L .diff6L .diff5L .diff2L .diff4L, .diff3L .diff6L .diff5L .diff4L .diff2L, .diff4L .diff2L .diff3L .diff5L .diff6L, .diff4L .diff2L .diff3L .diff6L .diff5L, .diff4L .diff2L .diff5L .diff3L .diff6L, .diff4L .diff2L .diff5L .diff6L .diff3L, .diff4L .diff2L .diff6L .diff3L .diff5L, .diff4L .diff2L .diff6L .diff5L .diff3L, .diff4L .diff3L .diff2L .diff5L .diff6L, .diff4L .diff3L .diff2L .diff6L .diff5L, .diff4L .diff3L .diff5L .diff2L .diff6L, .diff4L .diff3L .diff5L .diff6L .diff2L, .diff4L .diff3L .diff6L .diff2L .diff5L, .diff4L .diff3L .diff6L .diff5L .diff2L, .diff4L .diff5L .diff2L .diff3L .diff6L, .diff4L .diff5L .diff2L .diff6L .diff3L, .diff4L .diff5L .diff3L .diff2L .diff6L, .diff4L .diff5L .diff3L .diff6L .diff2L, .diff4L .diff5L .diff6L .diff2L .diff3L, .diff4L .diff5L .diff6L .diff3L .diff2L, .diff4L .diff6L .diff2L .diff3L .diff5L, .diff4L .diff6L .diff2L .diff5L .diff3L, .diff4L .diff6L .diff3L .diff2L .diff5L, .diff4L .diff6L .diff3L .diff5L .diff2L, .diff4L .diff6L .diff5L .diff2L .diff3L, .diff4L .diff6L .diff5L .diff3L .diff2L, .diff5L .diff2L .diff3L .diff4L .diff6L, .diff5L .diff2L .diff3L .diff6L .diff4L, .diff5L .diff2L .diff4L .diff3L .diff6L, .diff5L .diff2L .diff4L .diff6L .diff3L, .diff5L .diff2L .diff6L .diff3L .diff4L, .diff5L .diff2L .diff6L .diff4L .diff3L, .diff5L .diff3L .diff2L .diff4L .diff6L, .diff5L .diff3L .diff2L .diff6L .diff4L, .diff5L .diff3L .diff4L .diff2L .diff6L, .diff5L .diff3L .diff4L .diff6L .diff2L, .diff5L .diff3L .diff6L .diff2L .diff4L, .diff5L .diff3L .diff6L .diff4L .diff2L, .diff5L .diff4L .diff2L .diff3L .diff6L, .diff5L .diff4L .diff2L .diff6L .diff3L, .diff5L .diff4L .diff3L .diff2L .diff6L, .diff5L .diff4L .diff3L .diff6L .diff2L, .diff5L .diff4L .diff6L .diff2L .diff3L, .diff5L .diff4L .diff6L .diff3L .diff2L, .diff5L .diff6L .diff2L .diff3L .diff4L, .diff5L .diff6L .diff2L .diff4L .diff3L, .diff5L .diff6L .diff3L .diff2L .diff4L, .diff5L .diff6L .diff3L .diff4L .diff2L, .diff5L .diff6L .diff4L .diff2L .diff3L, .diff5L .diff6L .diff4L .diff3L .diff2L, .diff6L .diff2L .diff3L .diff4L .diff5L, .diff6L .diff2L .diff3L .diff5L .diff4L, .diff6L .diff2L .diff4L .diff3L .diff5L, .diff6L .diff2L .diff4L .diff5L .diff3L, .diff6L .diff2L .diff5L .diff3L .diff4L, .diff6L .diff2L .diff5L .diff4L .diff3L, .diff6L .diff3L .diff2L .diff4L .diff5L, .diff6L .diff3L .diff2L .diff5L .diff4L, .diff6L .diff3L .diff4L .diff2L .diff5L, .diff6L .diff3L .diff4L .diff5L .diff2L, .diff6L .diff3L .diff5L .diff2L .diff4L, .diff6L .diff3L .diff5L .diff4L .diff2L, .diff6L .diff4L .diff2L .diff3L .diff5L, .diff6L .diff4L .diff2L .diff5L .diff3L, .diff6L .diff4L .diff3L .diff2L .diff5L, .diff6L .diff4L .diff3L .diff5L .diff2L, .diff6L .diff4L .diff5L .diff2L .diff3L, .diff6L .diff4L .diff5L .diff3L .diff2L, .diff6L .diff5L .diff2L .diff3L .diff4L, .diff6L .diff5L .diff2L .diff4L .diff3L, .diff6L .diff5L .diff3L .diff2L .diff4L, .diff6L .diff5L .diff3L .diff4L .diff2L, .diff6L .diff5L .diff4L .diff2L .diff3L, .diff6L .diff5L .diff4L .diff3L .diff2L {
    background: linear-gradient(lawngreen, lightskyblue, orange, pink, yellow);
}

/* -------------------- */
/* --- MEDIA CLASSES -- */
/* -------------------- */
@media screen and (min-width: 2000px) {
    body {
        background-image: url("../images/bg_verylarge.png");
    }
}

@media screen and (max-width: 2000px) {
    body {
        background-image: url("../images/bg_2000.png");
    }
}

@media screen and (max-width: 1300px) {
    body {
        background-image: url("../images/bg_1300.png");
    }
}

@media screen and (max-width: 1064px) {
    body {
        background-image: url("../images/bg_1064.png");
    }
}

@media screen and (min-width: 1064px) and (max-width: 1250px) {
    #wrap {
        width: 1000px;
    }
    
    .of1 {
        width: 994px;
    }
    .of2, .of5#first, .of5#second, .of4 {
        width: 497px;
    }
    .of3, .of5, .of6 {
        width: 331.3px;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-image: url("../images/bg_800.png");
    }
}

@media screen and (min-width: 800px) and (max-width: 1063px) {
    body {
        min-height: 100%;
        max-height: 200%;
    }
    
    #wrap {
        width: 700px;
    }
    
    .of1, .of3#first, .of5#first {
        width: 694px;
        padding-right: 1px;
    }
    .of2, .of3, .of4, .of5, .of6, .of5#second {
        width: 347px;
        padding-right: 0;
    }
    .of5, .of6 {
        height: calc((85% - 1.5em) / 3);
    }
    .of3 {
        border-bottom: 0;
    }
    .of3#second {
        clear: both;
        border-bottom: 1px solid black;
    }
    .of3#first {
        border-right: 1px solid black;
    }
    .of3#third {
        border-bottom: 1px solid black;
    }
    .of5#first, .of5#third {
        border-right: 1px solid black;
        border-bottom: none;
        clear: none;
    }
    .of5#second {
        border-right: none;
        clear: both;
    }
    .of5#fourth {
        clear: both;
    }
    .of6#second, .of6#fourth {
        border-right: 1px solid black;
        border-bottom: none;
        clear: none;
    }
    .of6#third {
        border-right: none;
        clear: both;
    }
    .of6#fifth {
        clear: both;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("../images/bg_600.png");
    }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
    #wrap {
        width: 390px;
        min-height: 95%;
        height: auto;
        max-height: 200%;
    }
    
    #innerwrap {
        min-height: 100%;
        height: auto;
        max-height: 200%;
    }
    
    .of1, .of2, .of3, .of4, .of5, .of6 {
        width: 384px;
        clear: both;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: none;
        height: calc((90% - 1.5em) / 3);
    }
    .of5#first, .of5#second {
        width: 384px;
        clear: both;
        padding-right: 0;
    }
    .of1, .of2#second, .of3#third, .of4#fourth, .of5#fifth, .of6#sixth {
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-image: url("../images/bg_400.png");
    }
}