$themeSource: #184062;
$light1-5: #ced4d7;
$light2: #b0b9bd;
$light3: #89979f;
$light4-5: #667984;
$light7: #435c6a;
$light10: #264756;
$light15: #052b3a;
$dark1-5: #003042;
$dark2: #224353;
$dark3: #435c6a;
$dark4-5: #637782;
$dark7: #89979f;
$dark10: #abb5ba;
$dark15: #d6dbdd;

@import "style";