$themeSource: #624a2e;
$light1-5: #e2d39b;
$light2: #d6b449;
$light3: #b2913a;
$light4-5: #907338;
$light7: #6e5431;
$light10: #523f28;
$light15: #2f251a;
$dark1-5: #352a1d;
$dark2: #4e3c27;
$dark3: #6e5431;
$dark4-5: #8d7037;
$dark7: #b2913a;
$dark10: #d4b039;
$dark15: #e5daaf;
$noticeColor: #d8f1f8;
$warningColor: #fdf146;
$errorColor: #fbe8e4;

$largeBackground: url('../images/leathertest.jpg');
$mediumBackground: $largeBackground;
$smallBackground: $mediumBackground;
$tinyBackground: $smallBackground;
$backgroundTop: 0;

@import "style";

body {
  &.dark {
    $colorMap: ('background': $themeSource, 'siteBackground': rgba($dark1-5, 0.9),
            'searchBorderColor': $borderColor, 'searchPlaceholderColor': $searchPlaceholderColor,
            'menuColor': $dark2, 'menuBorderColor': $dark15, 'menuFontColor': $dark15,
            'menuButtonHoverColor': $dark3, 'translationBorder': $dark10, 'translationBg': $dark2,
            'modalBg': $dark3, 'modalBorder': $dark15, 'fontColor': $dark15, 'buttonFontColor': $dark1-5,
            'loadBg': rgba($dark15, 0.7), 'links': $darkLinks, 'sameHover': $dark15, 'sameHoverFont': $dark1-5,
            'animationBorders': $brightSideBorder, 'resultBackground': $dark1-5);
    @include colors($colorMap);

    $highlightMap: (2: #45632f, 3: #495d6b, 4: #755426, 5: #6b5559, 6: #5c5d2e);
    @include highlights($highlightMap);

    @include tabNotification($noticeColor, $dark2);
  }

  @include noticeColors($noticeColor, $warningColor, $errorColor, $lightLinks);

  &.light {
    $colorMap: ('background': $themeSource, 'siteBackground': rgba($light1-5, 0.9),
            'searchBorderColor': $borderColor, 'searchPlaceholderColor': $searchPlaceholderColor,
            'menuColor': $light2, 'menuBorderColor': $light15, 'menuFontColor': $light15,
            'menuButtonHoverColor': $light3, 'translationBorder': $light10, 'translationBg': $light2,
            'modalBg': $light3, 'modalBorder': $light15, 'fontColor': $light15, 'buttonFontColor': $light15,
            'loadBg': rgba($light15, 0.7), 'links': $lightLinks, 'sameHover': $light15, 'sameHoverFont': $light1-5,
            'animationBorders': $darkSideBorder, 'resultBackground': $light1-5);
    @include colors($colorMap);

    $highlightMap: (2: #70c531, 3: #7cb7dc, 4: #f29e0f, 5: #d6a3ac, 6: #b5b634);
    @include highlights($highlightMap);

    @include tabNotification($noticeColor, $light2);
  }

  &.cvd {
    @include highlights(null);
  }
}