$themeSource: #624a2e;
$light1-5: #e2d39b;
$light2: #d6b449;
$light3: #b2913a;
$light4-5: #907338;
$light7: #6e5431;
$light10: #523f28;
$light15: #2f251a;
$dark1-5: #352a1d;
$dark2: #4e3c27;
$dark3: #6e5431;
$dark4-5: #8d7037;
$dark7: #b2913a;
$dark10: #d4b039;
$dark15: #e5daaf;

$largeBackground: url('../images/leathertest.jpg');
$mediumBackground: $largeBackground;
$smallBackground: $mediumBackground;
$tinyBackground: $smallBackground;
$backgroundTop: 0;

@import "style";