$themeSource: #976d43;
$light1-5: #dad2c7;
$light2: #c7b5a2;
$light3: #ae9071;
$light4-5: #986f45;
$light7: #705337;
$light10: #523f2c;
$light15: #2f251b;
$dark1-5: #352a1f;
$dark2: #4e3c2a;
$dark3: #705337;
$dark4-5: #956c43;
$dark7: #ae9071;
$dark10: #c3b09b;
$dark15: #e0d9d1;
$tinyBackground: url("../images/bg_1064.png");
$smallBackground: url("../images/bg_1300.png");
$mediumBackground: url("../images/bg_2000.png");
$largeBackground: url("../images/bg_verylarge.png");
$backgroundTop: -100px;

@import "style";





// #a9b8d4 -- links for $dark1-5
// #001fc5 -- links for $light1-5
