$themeSource: #976d43;
$light1-5: #dad2c7;
$light2: #c7b5a2;
$light3: #ae9071;
$light4-5: #986f45;
$light7: #705337;
$light10: #523f2c;
$light15: #2f251b;
$dark1-5: #352a1f;
$dark2: #4e3c2a;
$dark3: #705337;
$dark4-5: #956c43;
$dark7: #ae9071;
$dark10: #c3b09b;
$dark15: #e0d9d1;

@import "style";