@use "sass:map";
@use "sass:list";
@use "sass:math";
@function intdiv($dividend, $divisor) {
  $returnUnits: $dividend / no-units($dividend); // 1 units, e.g., 1px, 1em
  $dividend: no-units($dividend);
  $divisor: no-units($divisor);
  @return math.floor($dividend / $divisor) * $returnUnits;
}
@function no-units($value) {
  @if (not unitless($value)) {
    @return $value / ($value * 0 + 1);
  } @else {
    @return $value;
  }
}
$effectivelyMaxInt: 2147483647;

//#region Theme Establishment
$borderColor: black;
$searchPlaceholderColor: #555;
$warningBorder: darkred;
$darkLinks: #a9b8d4;
$lightLinks: #001fc5;
$brightSideBorder: rgba(255,255,255,0.5);
$darkSideBorder: rgba(0,0,0,0.5);
$hoverBrightBorder: rgba(125, 180, 255, 0.5);
$hoverDarkBorder: rgba(0, 50, 150, 0.5);
$shadowColor: rgba(0, 0, 0, 0.1);

@mixin noticeColors($fyi, $warning, $error, $links) {
  .resultNotice {
    // these backgrounds are always light, so the font is always black
    color: black;

    a {
      color: $links;
    }

    &.noticeFyi {
      background-color: $fyi;
    }

    &.noticeWarning {
      background-color: $warning;
    }

    &.noticeError {
      background-color: $error;
    }
  }
}

@mixin colors($colorMap) {
  background-color: map.get($colorMap, 'background');
  color: map.get($colorMap, 'fontColor');

  a {
    color: map.get($colorMap, 'links');
  }

  #wrap {
    background-color: map.get($colorMap, 'siteBackground');
  }

  .search {
    border-color: map.get($colorMap, 'searchBorderColor');
  }

  #searchbox::placeholder {
    color: map.get($colorMap, 'searchPlaceholderColor');
  }

  .menu-tab {
    background-color: map.get($colorMap, 'menuColor');
    border-color: map.get($colorMap, 'menuBorderColor');

    .activator {
      border-right-color: map.get($colorMap, 'menuColor');
    }
  }

  .sidebar {
    background-color: map.get($colorMap, 'menuColor');
    color: map.get($colorMap, 'menuFontColor');
    border-color: map.get($colorMap, 'menuBorderColor');

    a {
      color: map.get($colorMap, 'menuFontColor');

      &:hover, &:visited, &:active {
        color: map.get($colorMap, 'menuFontColor');
      }
    }
  }

  #menu ul li {
    background-color: map.get($colorMap, 'menuColor');

    &:hover {
      background-color: map.get($colorMap, 'menuButtonHoverColor');
    }
  }

  /* Are these even used?
  div.del span, div.promote span, #addtl span, #prevPsg span, #nextPsg span {
    border-color: map.get($colorMap, 'translationBorder');
    background-color: map.get($colorMap, 'translationBg');
  }*/

  .popup {
    background-color: map.get($colorMap, 'modalBg');
    border-color: map.get($colorMap, 'modalBorder');
  }

  .icoButton {
    [class *= " icofont-"], [class ^= "icofont-"] {
      color: map.get($colorMap, 'buttonFontColor');
    }

    &[disabled] {
      [class *= " icofont-"], [class ^= "icofont-"] {
        color: rgba(map.get($colorMap, 'buttonFontColor'), 0.5) !important;
      }
    }
  }

  #loading, .sidebarLoad {
    background-color: map.get($colorMap, 'loadBg');
  }

  .of2 .hovered, .of3 .hovered, .of4 .hovered, .of5 .hovered, .of6 .hovered {
    background-color: map.get($colorMap, 'sameHover');
    color: map.get($colorMap, 'sameHoverFont');
  }

  #scroll-together-label {
    span, span::before, span::after {
      border-color: map.get($colorMap, 'animationBorders');
    }

    span::before, span::after {
      background-color: map.get($colorMap, 'animationBorders');
    }
  }

  .version {
    background-color: map.get($colorMap, 'resultBackground');
  }

  //noinspection CssReplaceWithShorthandSafely
  .textArea {
    background:
            linear-gradient(map.get($colorMap, 'resultBackground'), transparent),
            radial-gradient($shadowColor, transparent);
    background-size: 100% 80%, 100% 15px;
    background-attachment: local, scroll;
    background-repeat: no-repeat;
    background-color: map.get($colorMap, 'resultBackground');
  }
}

@mixin highlights($highlightMap) {
  @if ($highlightMap) {
    @each $i, $color in $highlightMap {
      .diff#{$i}L, .diff#{$i}R {
        background-color: map.get($highlightMap, $i);
      }

      @for $j from 2 through 6 {
        @if $j != $i {
          .diff#{$i}L .diff#{$j}L, .diff#{$j}L .diff#{$i}L {
            background-color: linear-gradient(to right, map.get($highlightMap, $i), map.get($highlightMap, $j));
          }

          @for $k from 2 through 6 {
            $ij: $i, $j;
            @if not list.index($ij, $k) {
              .diff#{$i}L .diff#{$j}L .diff#{$k}L {
                background-color: linear-gradient(to right, map.get($highlightMap, $i), map.get($highlightMap, $j), map.get($highlightMap, $k));
              }

              @for $l from 2 through 6 {
                $ijk: $i, $j, $k;
                @if not list.index($ijk, $l) {
                  .diff#{$i}L .diff#{$j}L .diff#{$k}L .diff#{$l}L {
                    background-color: linear-gradient(to right, map.get($highlightMap, $i), map.get($highlightMap, $j), map.get($highlightMap, $k), map.get($highlightMap, $l));
                  }

                  @for $m from 2 through 6 {
                    $ijkl: $i, $j, $k, $l;
                    @if not list.index($ijkl, $m) {
                      .diff#{$i}L .diff#{$j}L .diff#{$k}L .diff#{$l}L .diff#{$m}L {
                        background-color: linear-gradient(to right, map.get($highlightMap, $i), map.get($highlightMap, $j), map.get($highlightMap, $k), map.get($highlightMap, $l), map.get($highlightMap, $m));
                      }

                      @for $n from 2 through 6 {
                        $ijklm: $i, $j, $k, $l, $m;
                        @if not list.index($ijklm, $n) {
                          .diff#{$i}L .diff#{$j}L .diff#{$k}L .diff#{$l}L .diff#{$m}L .diff#{$n}L {
                            background-color: linear-gradient(to right, map.get($highlightMap, $i), map.get($highlightMap, $j), map.get($highlightMap, $k), map.get($highlightMap, $l), map.get($highlightMap, $m), map.get($highlightMap, $n));
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } @else {
    // high-contrast / color blind settings here
  }
}

@mixin verticalAlign($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); // IE
  -moz-transform: translateY(-50%); // Firefox
  -webkit-transform: translateY(-50%); // Safari and Chrome
  -o-transform: translateY(-50%);
}
//#endregion

//#region Site/Page variables
$siteWidth: 1280px;
$siteHeight: 95%;
$sitePadding: 40px;
$siteBottomPadding: 5px;

$pageWidth: 95%;
$pageMargin: 50px;
//#endregion

//#region Header / Nav / Search
$headerWidth: 60%;
$headerSize: 1.5em;
$headerBigMargin: 10px;
$headerLittleMargin: 5px;
$headerHeight: 90px;

$searchHeight: 30px;
$searchPadding: 5px;
$searchBorderWidth: 1px;
$searchButtonWidth: 35px;
$searchButtonMargin: 5px;
//#endregion

//#region Menu variables
$menuBorderWidth: 1px;

$tabSize: 40px;
$tabIconSize: intdiv($tabSize, 2);
$tabIconPosition: $tabSize - $tabIconSize;
$tabRightOffset: 1px;
$tabBorderRadius: 5px;
$tabTopSpace: 8px;
$tabBetweenSpace: intdiv($tabTopSpace, 2);
$tabSpaceToNextTop: $tabSize + $tabBetweenSpace + (2 * $menuBorderWidth);
$tabDictPosition: $tabTopSpace + $tabSpaceToNextTop;
$tabRefsPosition: $tabDictPosition + $tabSpaceToNextTop;

$sidebarWidth: 300px;
$sidebarTopPadding: 1em;
$sidebarBottomSpace: 20px;
$sidebarBottomSize: 30px;
$sidebarBottomMargin: #{$sidebarBottomSpace + $sidebarBottomSize};
$sidebarLeftPadding: 20px;

$menuListWidth: #{$sidebarWidth - $sidebarLeftPadding};
$menuListItemBigSpace: 5px;
$menuListItemLittleSpace: 2px;
$menuChangeTime: 1s;
$menuButtonChangeTime: 0.25s;

$menuButtonZIndex: $effectivelyMaxInt - 1;
$menuTabZIndex: $menuButtonZIndex - 1;
$menuActivatedZIndex: $menuTabZIndex - 1;
$menuDeactivatedZIndex: $menuActivatedZIndex - 1;

$scrollIconBorderRadius: 5px;
$scrollIconSidePosition: 1px;
$scrollIconScrolledPosition: 11px;
//#endregion

//#region Popup variables
$popupWidth: 750px;
$popupHeight: 425px;
$popupBorderRadius: 10px;
$tboxGridBoxPadding: 10px;
//#endregion

//#region Body variables
$sectionPadding: 5px;
$noticeLeftMargin: -6px;
$noticeBottomMargin: -$sectionPadding;
//#endregion

@mixin tabNotification($alertColor, $backgroundColor) {
  @keyframes tab-alert {
    0%    {background-color: $alertColor; }
    30%   {background-color: $alertColor; }
    33%   {background-color: $backgroundColor; }
    50%   {background-color: $backgroundColor; }
    52%   {background-color: $alertColor; }
    67%   {background-color: $alertColor; }
    100%  {background-color: $backgroundColor; }
  }
  .menu-notify {
    animation: ease-out tab-alert 1s;
  }
}

//#region Main tags
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 $backgroundTop;
  background-size: cover;
  min-height: 100%;
  font-family: 'Droid Serif', serif;
  overflow: hidden;
}

#wrap {
  position: relative;
  width: $siteWidth;
  min-height: $siteHeight;
  border: none;
  padding: $sitePadding $sitePadding $siteBottomPadding $sitePadding;
  margin: auto;
  overflow: auto;

  &.permaMenu {
    right: intdiv($sidebarWidth, 2);
  }
}

#page {
  margin: $pageMargin auto;
  width: $pageWidth;

  &.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    margin: $pageMargin auto 0 auto;
  }

  h3 {
    margin: $headerBigMargin auto $headerLittleMargin auto;
    width: $headerWidth;
  }
}
//#endregion

//#region Header
h3 {
  margin: 0 0 20px 0;
  font-size: $headerSize;
}

h4 {
  margin: $headerLittleMargin 0 0 0;
}

.search {
  height: $searchHeight;
  padding-right: $searchPadding;
  border: $searchBorderWidth solid;
  margin-top: 0;
  overflow: hidden;
  padding-left: #{2 * $searchPadding};
}

#search {
  width: 100%;

  #searchbox {
    width: calc(100% - #{$searchButtonWidth} - #{$searchButtonMargin});
    height: $searchButtonWidth;
    padding: 5px 10px;
    box-sizing: border-box;
  }
}

#translationHandler {
  width: 40%;
  text-align: right;
  margin-bottom: 10px;
}

.icoButton {
  width: $searchButtonWidth;
  margin-left: $searchButtonMargin;
  height: $searchButtonWidth;
  padding: 3px;

  [class *= " icofont-"],[class ^= "icofont-"] {
    font-size: 1.25em;

    &.tinyMod {
      position: relative;
      font-size: 0.9em;
      top: 0.3em;
      left: -0.3em;
    }
  }
}

.miniButton {
  width: intdiv($searchButtonWidth, 2);
  height: intdiv($searchButtonWidth, 2);
  padding: 0;

  [class *= " icofont-"],[class ^= "icofont-"] {
    font-size: 0.8em;
    position: relative;
    top: -2px;
  }
}

#header {
  height: $headerHeight;
}

#tlConHeader {
  height: 40px;
}

#header, #tlConHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  #title {
    width: 40%;
  }
}

#headerSpace {
  position:relative;
  margin-top: -30px;
  margin-bottom: 5px;
  width: 100%;
}

#loading {
  width: 300px;
  height: 300px;
  border-width: 0;
  border-radius: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  position: fixed;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: $effectivelyMaxInt;
}

.dark {
  #loading, .sidebarLoad {
    background-image: url("../images/bookloading.gif");
  }
}

.light {
  #loading, .sidebarLoad {
    background-image: url("../images/bookloading_light.gif");
  }
}
//#endregion

//#region Basic classes
.hidden {
  display: none !important;
}
//#endregion

// TODO: style the menu for different screen sizes

//#region Menu
#menuwrap {
  &.active {
    .sidebar, .menu-tab {
      transform: translate3d(-$sidebarWidth, 0, 0);
    }
  }

  .sidebarLoad {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    z-index: $effectivelyMaxInt;
  }

  .menu-tab {
    position: fixed;
    z-index: $menuTabZIndex;
    right: -$tabRightOffset;
    width: #{$tabSize + $tabRightOffset};
    height: $tabSize;
    transition: transform $menuChangeTime;
    border-top-left-radius: $tabBorderRadius;
    border-bottom-left-radius: $tabBorderRadius;
    border: $menuBorderWidth solid;
    cursor: pointer;

    &.activated {
      border-right-color: transparent;
    }

    &#menu-btn-wrap {
      top: $tabTopSpace;
    }

    &#dict-btn-wrap {
      top: $tabDictPosition;
    }

    &#crossref-btn-wrap {
      top: $tabRefsPosition;
    }

    .tab-button {
      width: $tabIconSize;
      height: $tabIconSize;
      position: absolute;
      right: intdiv($tabIconPosition, 2) + $tabRightOffset;
      top: intdiv($tabIconPosition, 2);
      z-index: $menuButtonZIndex;
      margin: auto;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: $menuDeactivatedZIndex;
    transition: transform 1s;
    width: $sidebarWidth;
    border-left: $menuBorderWidth solid;
    padding-top: $sidebarTopPadding;

    &.activated {
      z-index: $menuActivatedZIndex;
    }

    a {
      vertical-align: middle;
      display: inline-block;
      width: 100%;
      margin: auto;
      text-decoration: none;

      &:active, &:hover, &:visited {
        text-decoration: none;
      }
    }

    &#menu, &#dictionary, &#crossref {
      margin-top: $sidebarBottomMargin;
    }

    &#menu {
      ul {
        list-style-type: none;
        width: $menuListWidth;
        right: 0;
        padding: 0;
        position: absolute;
        margin-top: 0;

        li {
          width: 100%;
          padding-left: $menuListItemBigSpace;
          padding-top: $menuListItemLittleSpace;
          padding-bottom: $menuListItemLittleSpace;
          margin-top: $menuListItemBigSpace;
          transition: background $menuButtonChangeTime ease-in;
          right: 0;

          input, label {
            vertical-align: middle;
            position: relative;
          }
        }
      }
    }

    &#dictionary, &#crossref {
      margin-bottom: $sidebarBottomMargin;
      padding-left: $sidebarLeftPadding;
      padding-right: $sidebarLeftPadding;
      overflow-y: auto;
      overflow-x: hidden;
      box-sizing: border-box;
      width: $sidebarWidth;
    }

    &#menubottom {
      top: unset;
      padding-top: unset;
      bottom: $sidebarBottomSpace;
      height: $sidebarBottomSize;
      text-align: center;
      z-index: $menuTabZIndex;
    }

    &#menutop {
      top: $sidebarBottomSpace;
      height: $sidebarBottomSize;
      text-align: left;
      z-index: $menuTabZIndex;
      bottom: unset;
      padding-top: unset;
      padding-left: 1em;
      padding-right: 1em;
      border: none;
      margin-left: 1px;
      display: flex;
      width: $sidebarWidth;
      box-sizing: border-box;
    }
  }
}

.dark {
  #menu-button {
    background-image: url("../images/menubutton_dark.svg");
  }

  #dict-button {
    background-image: url("../images/dictbutton_dark.svg");
  }

  #ref-button {
    background-image: url("../images/crossref_dark.svg");
  }
}

.light {
  #menu-button {
    background-image: url("../images/menubutton_light.svg");
  }

  #dict-button {
    background-image: url("../images/dictbutton_light.svg");
  }

  #ref-button {
    background-image: url("../images/crossref_light.svg");
  }
}
//#endregion

//#region Translation classes
#addtl, .del, .promote, #prevPsg, #nextPsg {
  /*position: absolute;*/
  /*top: 5px;*/
  cursor: pointer;
  background-origin: content-box;
  float: right;
}

#addtl, #prevPsg, #nextPsg {
  margin-top: 0;
}

#addtl {
  /*right: 85px;*/
  background-image: url("../images/grey_plus_icon.png");
  background-repeat: no-repeat;
  padding-right: 5px;
  border-right: 1px solid $borderColor;
  padding-left: 5px;
  width: 30px;
  height: 30px;
}

#prevPsg {
  /*right: 45px;*/
  background-image: url("../images/grey_left_icon.png"); /* change to correct icon */
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

#nextPsg {
  /*right: 15px;*/
  background-image: url("../images/grey_right_icon.png"); /* change to correct icon */
  width: 30px;
  height: 30px;
}

div.del {
  right: 10px;
  background-image: url("../images/grey_minus_icon.png");
  width: 30px;
  height: 30px;
}

div.promote {
  right: 43px;
  background-image: url("../images/grey_up_icon.png");
  width: 30px;
  height: 30px;
}

div.del span::before {
  content: "Remove this translation";
}

div.promote span::before {
  content: "Make this the primary translation";
}

#addtl span::before {
  content: "Add another translation";
}

#prevPsg span::before {
  content: "Last passage";
}

#nextPsg span::before {
  content: "Next passage";
}

div.del span, div.promote span, #addtl span, #prevPsg span, #nextPsg span {
  display: none;
  position: relative;
  top: 31px;
  left: -80px;
  right: 0;
  border: 1px solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 1px 2px 1px 2px;
  z-index: 1;
  width: 100px;
}

div.del:hover span, div.promote:hover span, #addtl:hover span, #prevPsg:hover span, #nextPsg:hover span {
  display: block;
  transform-origin: 100% 0;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

//#region Outdated code -- remove when confirmed unused
.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border: 1px solid;
  border-radius: 3px;
  width: 240px;
  margin: 10% auto;
  padding: 10px 20px 30px 20px;
}

.modal-content select {
  width: 80%;
  margin-left: 20px;
}

.modal-content input {
  float: right;
  font-weight: bold;
  clear: none;
  margin-top: 5px;
  margin-right: 5px;
}
//#endregion


@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}
//#endregion

//#region Box classes
.boxHolder {
  position: relative;
  border-collapse: collapse;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid $borderColor;
}

.box {
  position: relative;
  border-collapse: collapse;
  overflow: hidden;
  padding-bottom: 25px;
}

.noTextBox {
  position: relative;
  margin: 10px auto;
  padding: 5px;
  border: 3px ridge $warningBorder;
  clear: both;
  background-color: rgba(255,0,0,0.2);
}

.scrollbox {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 5px;
}

.scrollbox h4 {
  float:left;
}

.scrollbox p {
  clear: both;
}

@for $b from 1 through 6 {
  @if ($b <= 3) {
    .of#{$b} {
      width: intdiv(1194px, $b);
    }
  } @else if ($b == 5) {
    .of#{$b}:nth-child(-n + 2) {
      width: 597px;
    }
    .of#{$b}:nth-last-child(-n + 3) {
      width: 398px;
    }
  } @else {
    .of#{$b} {
      width: intdiv(1194px, intdiv($b, 2));
    }
  }

  .of#{$b} {
    height: calc((90% - 1.5em) / (1 + #{intdiv($b, 4)}));
  }
}

.version {
  border: 1px solid black; //TODO: color?
  margin: -0.5px;
  overflow: hidden;
  padding: $sectionPadding 0 $sectionPadding $sectionPadding;
  box-sizing: border-box;
  direction: ltr;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  h4 {
    height: $searchButtonWidth;
    flex-shrink: 0;
  }

  .rtl {
    direction: rtl;
  }

  .textArea {
    height: 100%;
    overflow-y: auto;
    padding-right: $sectionPadding;
  }

  .icoButton {
    position: absolute;
    right: 5px;
  }

  &#my-notes-container {
    padding-right: $sectionPadding;
  }
}

.resultNotice {
  width: calc(100% + #{$sectionPadding - $noticeLeftMargin});
  padding: $sectionPadding;
  box-sizing: border-box;
  border-top: 1px solid black; //TODO: color!
  order: 99;
  margin-left: $noticeLeftMargin;
  margin-bottom: $noticeBottomMargin;
}
//#endregion

//#region Diff classes
.diff {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 5px;
  height: 15px;
  background: azure;
  font-style: italic;
  font-size: 0.8em;
}

.diff input, .diff label {
  margin: auto 2px;
}
//#endregion

/* -------------------- */
/* --- MEDIA CLASSES -- */
/* -------------------- */
$screenHeights: 480px, 600px, 768px, 800px, 900px, 1024px, 1050px, 1080px, 2000px, 3000px, 4000px, 5000px;
@each $height in $screenHeights {
  @media screen and (min-height: $height) {
    .results {
      height: #{$height - $headerHeight - $pageMargin};
    }
  }
}

@media screen and (max-height: list.nth($screenHeights, 1)) {
  .results {
    height: 100%; // this will make child divs size by content
  }
}


@media screen and (min-width: 2000px) {
  body {
    background-image: $largeBackground;
  }
}

@media screen and (max-width: 2000px) {
  body {
    background-image: $mediumBackground;
  }
}

@media screen and (max-width: 1300px) {
  body {
    background-image: $smallBackground;
  }
}

@media screen and (max-width: 1064px) {
  body {
    background-image: $tinyBackground;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-image: url("../images/bg_800.png");
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../images/bg_600.png");
  }
}

@media screen and (max-width: 400px) {
  body {
    background-image: url("../images/bg_400.png");
  }
}

//#region Popup
.popup {
  position: fixed;
  left: calc(50% - #{intdiv($popupWidth, 2)});
  top: calc(50% - #{intdiv($popupHeight, 2)});
  z-index: intdiv($effectivelyMaxInt, 2);
  border-radius: $popupBorderRadius;
  width: $popupWidth;
  height: $popupHeight;
}

#translationController {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $tboxGridBoxPadding;

  #tlConHeader {
    flex-basis: 100%;

    h3 {
      margin: 0;
    }
  }

  #translGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 3;
    flex-basis: 50%;
    height: 90%;

    .tlBox {
      flex-basis: 33%;
      height: 50%;
      text-align: center;
      box-sizing: border-box;
      padding: $tboxGridBoxPadding;

      &.occupied {
        outline: aliceblue solid 1px;
      }

      &.potentialTl {
        outline: aliceblue dashed 2px;
      }

      div {
        display: inline-block;
        @include verticalAlign(relative);
      }
    }

    .transl {
      display: inline-block;
    }
  }

  #translOptions {
    display: flex;
    flex-grow: 1;
    flex-basis: 33%;
    flex-direction: column;
    max-height: 90%;

    #translList {
      flex-basis: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 10px;

      .transl {
        display: list-item;
        list-style-type: circle;
        margin-left: 25px;
      }
    }

    .langGroup {
      text-align: center;

      &::before, &::after {
        content: '—';
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .fullToggle {
      // put in the middle but leave it at inline-block
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

[draggable='true'] {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
//#endregion

.crossRefWord {
  font-weight: bolder;
  color: red;
}
.etymology {
  font-style: italic;
  font-size: 0.8em;
}
.toggleRecorder {
  display: none;
}

@mixin buttonLook {
  border-left: 2px solid $brightSideBorder;
  border-top: 2px solid $brightSideBorder;
  border-right: 2px solid $darkSideBorder;
  border-bottom: 2px solid $darkSideBorder;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: center;
  position: relative;
  margin: 0 2px;

  &:hover {
    border-color: $hoverBrightBorder $hoverDarkBorder $hoverDarkBorder $hoverBrightBorder;
    background-color: rgba(100,200,255,.2);
  }

  &.clicked {
    border-color: $darkSideBorder $brightSideBorder $brightSideBorder $darkSideBorder;
    background-color: rgba(255,255,255,0.1);

    &:hover {
      border-color: $hoverDarkBorder $hoverBrightBorder $hoverBrightBorder $hoverDarkBorder;
      background-color: rgba(180,225,255,.1);
    }
  }
}

.toggle {
  @include buttonLook;
}

.fullToggle {
  @include buttonLook;
  width: unset;
  padding: 5px;
}

#scroll-together-label {
  span {
    display: inline-block;
    border: 1px solid;
    width: 12px;
    height: 18px;
    border-radius: $scrollIconBorderRadius;
    position: relative;
  }

  span::before, span::after {
    content: '';
    border: 1px solid;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: $scrollIconBorderRadius;
    transition: top 0.5s;
    position: absolute;
    top: 2px;
  }

  span::before {
    left: $scrollIconSidePosition;
  }

  span::after {
    right: $scrollIconSidePosition;
  }

  &:hover span::before {
    top: $scrollIconScrolledPosition;
  }

  &.clicked:hover span::after {
    top: $scrollIconScrolledPosition;
  }
}

.topButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .sidebarButton {
    @include buttonLook;
  }
}

@mixin themeTransition($propertyList) {
  $props: ();
  @each $p in $propertyList {
    $props: append($props, $p, comma);
  }
  transition-property: $props !important;
  transition-duration: 1500ms !important;
}

body.themeChange {
  @include themeTransition(background-color color);

  a {
    @include themeTransition(color);
  }

  #wrap {
    @include themeTransition(background-color);
  }

  .search {
    @include themeTransition(background-color);
  }

  #searchbox::placeholder {
    @include themeTransition(color);
  }

  .menu-tab {
    @include themeTransition(background-color color border-color);

    .tab-button {
      @include themeTransition(background-image);
    }
  }

  .sidebar {
    @include themeTransition(background-color color border-color);
  }

  #menu ul li {
    @include themeTransition(background-color);
  }

  .popup {
    @include themeTransition(background-color border-color);
  }

  .icoButton {
    @include themeTransition(color);
  }

  #loading {
    @include themeTransition(background-color);
  }

  .version {
    @include themeTransition(background-color);
  }

  .textArea {
    @include themeTransition(background-color);
  }

  #scroll-together-label {
    span, span::before, span::after {
      @include themeTransition(border-color background-color);
    }
  }
}